body {
	background-image: url(../assets/Background.png);
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	border-radius: 0px;
}

.navbar-brand {
	letter-spacing: 1px;
}

li {
	font-weight: bold;
	color: #fff;
}

/* Home page */
h1{
	text-transform: uppercase;
	color: #0c88c8;
	margin-bottom: 30px;
}

h3 {
	color: #0c88c8;
}

h2{
	text-align: left;
	color: #fff;
}

h4 {
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

section p {
	font-size: 16px;
}

.bg-image {
	position: relative;
	background-image: url(../assets/Hero_BgImg.png);
	height: 560px;
}

.jumbotron {
	background: none;
}

.features h3 {
	text-align: center;
}
.features>div {
	min-height: 590px;
}
.caption {
	margin-bottom: 30px;
}

.iphone {
	text-align: center;
}
.thumbnail {
	background-color: #fff;
}

footer {
	background: #1b1b1b;
	padding: 20px 0;
}
footer .footerEmail {
	color: #ccc;
	margin-bottom: 20px;
}
footer img {
	width: 50px;
	margin-left: 10px;
}

h5{
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18pt;
    color:#fff;	
}


/*.icon-facebook,.icon-twitter,.icon-instagram {
	padding-bottom: 150px;
	padding-left: 25px;
	padding-top: 50px;
}*/
