body {
	background-image: url(../assets/Background.png);
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.navbar {
	border-radius: 0px;
}

.navbar-brand {
	letter-spacing: 1px;
}

li {
	font-weight: bold;
	color: #fff;
}

h1{
	text-transform: uppercase;
	color: #0c88c8;
	margin-bottom: 30px;
}

h2{
	text-align: left;
	color: #fff;
}

h3 {
	color: #0c88c8;
}

h4 {
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

section {
	padding-top: 40px;
}

section p {
	font-size: 16px;
}

.bg-image {
	background-image: url(../assets/Hero_BgImg.png);
	margin-top: 51px;
	padding: 20px 0;
}

.iframe-container {
	text-align: center;
}

.jumbotron {
	background: none;
	height: 380px;
}

.jumbotron p {
	margin-top: 160px;
	text-align: center;
}

.features h3 {
	text-align: center;
}
.features>div {
	min-height: 590px;
}
.caption {
	margin-bottom: 30px;
}

.iphone {
	text-align: center;
}
.thumbnail {
	background-color: #fff;
}

footer {
	background: #1b1b1b;
	padding: 20px 0;
}
footer .footerEmail {
	color: #ccc;
	margin-bottom: 20px;
}
footer img {
	width: 50px;
	margin-left: 10px;
}

h5{
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18pt;
	color:#fff;	
}